.speech{
    font-size: medium;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.direction{
    background-color: floralwhite;
    font-size: small;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.direction:hover{
    background-color: honeydew;
    color: rebeccapurple;
}
.MISSTESMAN{
    color: cornflowerblue;
}
.BERTA{
    color: darkseagreen;
}

table,th,td,tr{
    border: 2px solid;
    color: lemonchiffon;
    text-align: center;
    border-collapse:collapse;
    margin: 1px;
}
th{
    background-color: plum;
}
td{
    padding: 12px;
    color:darksalmon
}

.MISSTESMAN:hover{
    font: inherit;
    box-shadow: 0 0 12px sienna;
     border: 2px solid honeydew;
}
.BERTA:hover{
    font: inherit;
    box-shadow: 0 0 12px navajowhite;
     border: 2px solid lightcoral;
}
